<template>
  <div class="card">
    <div class="card-body" style="padding-bottom:5%;line-height:35px;">
      <span style="font-size:15px;font-weight:500;padding-left:10px;padding-top:10px;">Monthly Report
         
         <f7-button style="float:right;margin-top:0%;"  sheet-open=".demo-sheet-push"> <f7-icon f7="smallcircle_fill_circle"></f7-icon></f7-button>
         <!-- <f7-button fill sheet-open=".demo-sheet-push" >Sheet Push</f7-button> -->
              <f7-sheet class="demo-sheet-push" push>
                <f7-toolbar>
                  <div class="left"></div>

                  <div class="right">
                    <f7-link sheet-close>Close</f7-link>
                  </div>

                </f7-toolbar>

                <p style="font-size:20px;padding-top:20px;margin-bottom:-40px;padding-left:5%;padding-bottom:5%;  ">Year :</p>
                <f7-page-content>
                  <f7-block>
                    <f7-list-input
                    type="datepicker"
                    placeholder="Select year ..."
                    readonly style="list-style-type: none;"
                    :calendar-params="{openIn: 'customModal', header: true, footer: true, dateFormat: ' yyyy'}"
                    ></f7-list-input>
                  </f7-block>
                </f7-page-content>

              </f7-sheet>
      </span>
     
    </div>

    <div class="card-img-bottom" style="background-color:#f5f5f5;">
      <canvas id="reportCanvas" count="1" />

      <chartjs-bar
        v-for="(item, index) in types"
        :key="index"
        :backgroundcolor="item.bgColor"
        :beginzero="beginZero"
        :bind="true"
        :bordercolor="item.borderColor"
        :datalabel="item.dataLabel"
        :labels="labels"
        target="reportCanvas"
        v-bind:data="data"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      beginZero: true,
      labels: ["Jan", "Feb", "March", "April", "May", "June", "July","August","Sept","Oct","Nov","Dec"],
      data: [],
      types: [
        {
          bgColor: "#43CDF2",
          borderColor: "0c0306",
          dataLabel: "Expenses Monthly"
        },
     
      ]
    };
  },
  created: function(){
    var $this = this;

    const options ={
      method:'get',
      headers:{
        'Authorization':'Bearer '+window.localStorage.getItem('token')
      },
    };

    cordova.plugin.http.sendRequest('http://localhost:8000/api/month', options, function(response) {
      const data = JSON.parse(response.data)
      var jan = data.jan
      var feb = data.feb
      var mar = data.mar
      var apr = data.apr
      var may = data.may
      var jun = data.jun
      var jly = data.jly
      var aug = data.aug
      var sep = data.sep
      var oct = data.oct
      var nov = data.nov
      var dec = data.dec
      
      $this.data.push(jan)
      $this.data.push(feb)
      $this.data.push(mar)
      $this.data.push(apr)
      $this.data.push(may)
      $this.data.push(jun)
      $this.data.push(jly)
      $this.data.push(aug)
      $this.data.push(sep)
      $this.data.push(oct)
      $this.data.push(nov)
      $this.data.push(dec)

    },function(response) {
      console.log(response.error)
    });

  },

};
</script>