<template>
	<f7-page class="setting" sliding  color-theme="orange" theme-dark>
		<f7-navbar title="Edit Expense" back-link="Back"></f7-navbar>

			<f7-list inline-labels no-hairlines-md>
					<f7-list-input
					label="Category"
					type="select" @input="category = $event.target.value"
					style="margin-left:-13%;" required validate
					>
						<f7-icon icon="demo-list-icon" slot="media"></f7-icon>
						<option value=""></option>
						<option v-for="categoryExpense in categories" :key="categoryExpense.id" :value="categoryExpense.id">{{categoryExpense.type}}</option>

					</f7-list-input>
			</f7-list>

			<f7-list inline-labels no-hairlines-md>
					<f7-list-input
					label="Plan"
					type="select" @input="plan = $event.target.value"
					placeholder="Please choose..." style="margin-left:-13%;" required validate
					>
						<f7-icon icon="demo-list-icon" slot="media"></f7-icon>
						<option value=""></option>
						<option v-for="namePlan in plans" :key="namePlan.id" :value="namePlan.id">{{namePlan.namePlan}}</option>

					</f7-list-input>
			</f7-list>

			<f7-list no-hairlines-md form>
				
				<f7-list-input label="Amount(RM)" type="number" :value="exp.amount" @input="exp.amount = $event.target.value" placeholder="10" required validate clear-button></f7-list-input>

				<f7-list-input
				label="Date"
				type="datepicker"
				:placeholder="exp.date"
				readonly required validate
				:calendar-params="{dateFormat: 'DD, MM dd, yyyy'}" :value="date" @change="date = $event.target.value"
				></f7-list-input>

				<f7-list-input label="Description" type="textarea" placeholder="Eg:Mixed Rice" :value="exp.description" @input="exp.description = $event.target.value"  clear-button></f7-list-input>
			</f7-list>

			<f7-block style="padding-top:40%;">
				<f7-button large fill @click="edit();">Save Changes</f7-button>
			</f7-block>

	</f7-page>
</template>

<script>
	export default {
		data(){
			return{
				categories:'',
				plans:'',
				category:'',
				plan:'',
				amount:'',
				date:'',
				description:'',
				// expense:'',
				exp:'',
			}
		},
		created:function(){
			var $this = this;
			var expense_id = this.$f7route.params.expense_id;

			const options ={
				method:'get',
				headers:{
					'Authorization':'Bearer '+window.localStorage.getItem('token')
				},
			};

			cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/category', options, function(response) {

				const data = JSON.parse(response.data)
				
				$this.categories = data.data;
				console.log(data.data)
				
				console.log('categories',$this.categories);
				
				for(var x in $this.categories){
					console.log($this.categories[x].type)
				}
				
			}, function(response) {
				console.log(response.error)

			});

			cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/'+expense_id, options, function(response) {

				const data = JSON.parse(response.data)
				
				$this.exp = data.data;
				console.log('hereEXP:',data.data)
				
				console.log('exp',$this.exp);
				
				// for(var x in $this.categories){
				// 	console.log($this.categories[x].type)
				// }
				
			}, function(response) {
				console.log(response.error)

			});

			cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/budget', options, function(response) {
				const data = JSON.parse(response.data)
				$this.plans = data.data
				
				for(var x in $this.plan){
					console.log($this.plan[x].namePlan)
				}

			},  function(response) {
				console.log(response.error)
			});
		},
		methods:{

			edit(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;
				var expense_id = this.$f7route.params.expense_id;

				const options ={
					method:'put',
					
					data:{
						
							budget_id: $this.plan,
							category_id: $this.category,
							amount: $this.exp.amount,
							date: $this.date,
							description: $this.exp.description,
					
					},
					serializer:'JSON',
					headers:{
						'Authorization':'Bearer '+window.localStorage.getItem('token')
					},
				};

				console.log(options.headers)
				cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/'+expense_id, options, 
					function(response) {
						console.log('hi');
						const data = JSON.parse(response.data)
							app.dialog.alert('Update Success','Success',()=>{
								router.navigate('/home');
								// router.back({reloadCurrent:true,ignoreCache:true,});
								// router.navigate('/expense',{reloadCurrent:true,ignoreCache:true,});
							// router.refreshPage(({ url: 'index.html', ignoreCache: true });							
						});
						
					},function(response) {
						console.log('amacb');
						app.dialog.alert('error');
					});
			}
		}
	}
</script>