<template>
	<f7-page class="setting" sliding  color-theme="orange" theme-dark ptr @ptr:refresh="loadMore">
		<f7-navbar title="Expense" back-link="Back">
			<f7-nav-right>
				<f7-button sheet-open=".demo-sheet-pushss"> <f7-icon f7="smallcircle_fill_circle"></f7-icon></f7-button>
			</f7-nav-right>
		</f7-navbar>

		<f7-sheet class="demo-sheet-pushss" push>
			<f7-toolbar>
				<div class="left"></div>

				<div class="right">
					<f7-link sheet-close>Close</f7-link>
				</div>

			</f7-toolbar>

			<f7-page-content style="font-size:25px;margin-top:-45px;">
				<f7-block>
					<p style="font-size:20px;padding-top:20px;margin-bottom:-40px;">Category</p>
					<f7-list-input
					type="select"
					required validate @input="sortCategoryID = $event.target.value"
					readonly style="list-style-type: none;padding-top:3%;"
					>

					<f7-icon icon="demo-list-icon" slot="media"></f7-icon>
					<option value="">All</option>
					<option v-for="(category,categoryId) in categories" :key="categoryId" :value="category.id">{{category.type}}</option>


					></f7-list-input>
				</f7-block>
				
				<f7-block style="width:60%;position:fixed;margin-left:22%;">
					<f7-button large fill @click="sortCategory();">Sort</f7-button>
				</f7-block>

			</f7-page-content>

		</f7-sheet>

		<f7-list-item swipeout v-for="expense in foundCategories" :key="expense.id">
			  	<!-- <div > -->

			  		<f7-card-header
			  		class="no-border"
			  		valign="bottom"
			  		style="background-image:url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg)"
			  		>
			  		Expense No :{{expense.item.id}}
			  		</f7-card-header>

			  		<f7-card-content style="background-image:url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_1280.jpg)">
			  			<p>Category: {{expense.type}}</p>
			  			<p>Amount: {{expense.item.amount}}</p>
			  			<p>Date: {{expense.item.date}}</p>
			  			<p>Description: {{expense.item.description}}</p>
			  			<f7-swipeout-actions right>
			  				<f7-swipeout-button :href="'/editExpense/'+expense.item.id" style="background-color: springgreen;">Edit</f7-swipeout-button>
			  				<f7-swipeout-button @click="deleteExpense(expense.item.id);" style="background-color: lightsalmon;">Delete
			  				</f7-swipeout-button>

			  			</f7-swipeout-actions>
			  		</f7-card-content>
			  		<br>
			  		<br>

		</f7-list-item>


		<f7-fab position="right-bottom" slot="fixed">
			<f7-icon icon="fas fa-bars fa-fw"></f7-icon>
			<f7-icon ios="f7:close" aurora="f7:close" md="material:close"></f7-icon>
			<f7-fab-buttons position="top">

				<f7-fab-button fill :href="'/categories/popup'" label="Category">
					<f7-icon ios="f7:add" aurora="f7:add" md="material:add"></f7-icon>
				</f7-fab-button>

				<f7-fab-button fill :href="'/budgets/popup'" label="Budget">
					<f7-icon ios="f7:add" aurora="f7:add" md="material:add"></f7-icon>
				</f7-fab-button>

				<f7-fab-button fill :href="'/expenses/popup'" label="Expense">
					<f7-icon ios="f7:add" aurora="f7:add" md="material:add"></f7-icon>
				</f7-fab-button>

			</f7-fab-buttons>
		</f7-fab>
	</f7-page>
</template>

<script>
	export default {
		data(){
			return{
				expenses:'',
				id:'',
				categoriess:'',
				categories:'',
				foundCategories:[],
				sortCategoryID:'',
			}
		},
		created:function(){

			var $this = this;
			const app = $this.$f7;
			const router = $this.$f7router;


			const options ={
				method:'get',
				headers:{
					'Authorization':'Bearer '+window.localStorage.getItem('token')
				},
			};

			cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/category', options, function(response) {

				const data = JSON.parse(response.data)
				
				$this.categories = data.data;
				// $this.categoriess.filter($this.categories => {
				// 	return $this.categories.id === foundId
				// })
				
				console.log('categories',$this.categories);
				// console.log('catgeoriess',$this.categoriess)

				for(var x in $this.categories){
					console.log($this.categories[x].type)
				}
				
			}, function(response) {
				console.log(response.error)

			});

			cordova.plugin.http.sendRequest('http://localhost:8000/api/expenses', options, function(response) {

				const data = JSON.parse(response.data)
				
				$this.expenses = data.data;
				//Expense's category type
				// {
				// 	expense,
				// 	category_type
				// }

				// const extractedIds = $this.categories.map(category => {
				// 	return id;
				// })

				// const foundIds= $this.expense.map(expense => {
				// 	extractedIds.includes(expense.category_id) ? return {
				// 		expense
				// 	}
				// })
				const categories = $this.categories;
				const expenses = $this.expenses;
				const foundCategories = [];

				outerloop:
				for(let i =0; i < expenses.length; i++){
					console.log('expensesI',expenses[i])
					for(let k =0; k < categories.length; k++){
						if(expenses[i].category_id == categories[k].id){
							foundCategories.push({
								item: expenses[i],
								type: categories[k].type
							})
							continue outerloop;
						}
					}
				}
				console.log(foundCategories)
				$this.foundCategories = foundCategories;
				console.log($this.foundCategories)
				// $this.foundCategories = $this.categories.filter(category => {
				// 	return extractedIds.includes(category.id);
				// })

				// $this.foundCategories = foundCategories.map(item => {
					
				// });


				console.log('Hi Im here:', foundCategories)	
				
				// router.refreshPage();
				// $this.categoriess.filter($this.categories => {
				// 	return $this.categories.id === foundId
				// })

				for(var x in $this.expenses){
					console.log('sss',$this.expenses)
					console.log('id',$this.expenses[x].id)
					id[x] = $this.expenses[x].id
					console.log('d',id[x]);
					// id[x]= $this.expenses[x].id
					// console.log('1:',id[x])
				}
				console.log('hope',$this.id)
				// console.log('2:',id);
				// console.log('categories',$this.expenses);
				
				// for(var x in $this.expenses){
				// 	console.log($this.expenses[x].amount)
				// }
			}, function(response) {
				console.log(response.error)

			});

	

		},
		methods:{
			sortCategory(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				const options = {
					method: 'get',
					serializer: 'JSON',
					headers: {
						'Authorization': 'Bearer '+ window.localStorage.getItem('token')
					},

				};
				if($this.sortCategoryID){
				cordova.plugin.http.sendRequest('http://localhost:8000/api/sort?category='+$this.sortCategoryID, options, 
				 function(response) {
					const data = JSON.parse(response.data)
					var datas = data.data 
					const categories = $this.categories;
					// const expenses = $this.expenses;
					const foundCategories = [];
					console.log(datas)
					outerloop:
					for(let x=0 ;x < datas.length ;x++){
						console.log('hidatax',datas[x])
						for(let k=0; k<categories.length; k++){
							if(datas[x].category_id == categories[k].id){
								foundCategories.push({
									item:datas[x],
									type:categories[k].type
								})
								continue outerloop;
							}
						}
					}
					console.log(foundCategories)
					$this.foundCategories = foundCategories;
					console.log($this.foundCategories)
				},function(response) {
					console.log(response.error)
				});
				}
				else{
					cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/category', options, function(response) {

						const data = JSON.parse(response.data)

						$this.categories = data.data;
						// $this.categoriess.filter($this.categories => {
						// 	return $this.categories.id === foundId
						// })
						
						console.log('categories',$this.categories);
						// console.log('catgeoriess',$this.categoriess)

						for(var x in $this.categories){
							console.log($this.categories[x].type)
						}
						
					}, function(response) {
						console.log(response.error)

					});

					cordova.plugin.http.sendRequest('http://localhost:8000/api/expenses', options, function(response) {

						const data = JSON.parse(response.data)

						$this.expenses = data.data;

						const categories = $this.categories;
						const expenses = $this.expenses;
						const foundCategories = [];

						outerloop:
						for(let i =0; i < expenses.length; i++){
							console.log('expensesI',expenses[i])
							for(let k =0; k < categories.length; k++){
								if(expenses[i].category_id == categories[k].id){
									foundCategories.push({
										item: expenses[i],
										type: categories[k].type
									})
									continue outerloop;
								}
							}
						}
						$this.foundCategories = foundCategories;
					}, function(response) {
						console.log(response.error)

					});
				}
			},
			deleteExpense(expense_id){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;
				// var expense_id = this.$f7route.params.expense_id;
				
				const options ={
					method:'delete',
					headers:{
						'Authorization':'Bearer '+window.localStorage.getItem('token')

					},
					serializer:'JSON',
				};
				cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/'+expense_id, options, 
					function(response) {
						app.dialog.alert(`Delete Success`,'Success', ()=>{
							router.back();
						});
					},  function(response) {
						app.dialog.alert(`error`);
					});
			},
			loadMore(done) {
			var $this = this;
			const app = $this.$f7;
			const router = $this.$f7router;

			setTimeout(() => {
			const options ={
				method:'get',
				headers:{
					'Authorization':'Bearer '+window.localStorage.getItem('token')
				},
			};

			cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/category', options, function(response) {

				const data = JSON.parse(response.data)
				
				$this.categories = data.data;
				
				console.log('categories',$this.categories);

				for(var x in $this.categories){
					console.log($this.categories[x].type)
				}
				
			}, function(response) {
				console.log(response.error)

			});

			cordova.plugin.http.sendRequest('http://localhost:8000/api/expenses', options, function(response) {

				const data = JSON.parse(response.data)
				
				$this.expenses = data.data;
				//Expense's category type
				// {
				// 	expense,
				// 	category_type
				// }

				// const extractedIds = $this.categories.map(category => {
				// 	return id;
				// })

				// const foundIds= $this.expense.map(expense => {
				// 	extractedIds.includes(expense.category_id) ? return {
				// 		expense
				// 	}
				// })
				const categories = $this.categories;
				const expenses = $this.expenses;
				const foundCategories = [];

				outerloop:
				for(let i =0; i < expenses.length; i++){
					for(let k =0; k < categories.length; k++){
						if(expenses[i].category_id == categories[k].id){
							foundCategories.push({
								item: expenses[i],
								type: categories[k].type
							})
							continue outerloop;
						}
					}
				}
				$this.foundCategories = foundCategories;

			}, function(response) {
				console.log(response.error)

			});

			done();
        	}, 1000);

			},
		}
	}
</script>