<template>
	<f7-page class="setting" sliding  color-theme="orange" theme-dark ptr @ptr:refresh="loadMore">
		<f7-navbar title="Income" back-link="Back"></f7-navbar>

		<f7-list-item swipeout v-for="income in incomes" :key="income.id">
			  	<!-- <div > -->

			  		<f7-card-header
			  		class="no-border"
			  		valign="bottom"
			  		style="background-image:url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg)"
			  		>
			  		Income No :{{income.id}}
			  		</f7-card-header>

			  		<f7-card-content style="background-image:url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_1280.jpg)">
			  			<p>Amount: {{income.amount}}</p>
			  			<p>Date: {{income.date}}</p>
			  			<p>Description: {{income.description}}</p>
			  			<f7-swipeout-actions right>
			  				<f7-swipeout-button :href="'/editIncome/'+income.id" style="background-color: springgreen;">Edit</f7-swipeout-button>
			  				<f7-swipeout-button @click="deleteIncome(income.id);"style="background-color: lightsalmon;">Delete
			  				</f7-swipeout-button>

			  			</f7-swipeout-actions>
			  		</f7-card-content>
			  		<br>
			  		<br>

		</f7-list-item>
					
		<f7-fab position="right-bottom" slot="fixed">
			<f7-icon icon="fas fa-bars fa-fw"></f7-icon>
			<f7-icon ios="f7:close" aurora="f7:close" md="material:close"></f7-icon>
			<f7-fab-buttons position="top">

				<f7-fab-button fill :href="'/incomes/popup'" label="Income">
					<f7-icon ios="f7:add" aurora="f7:add" md="material:add"></f7-icon>
				</f7-fab-button>

			</f7-fab-buttons>
		</f7-fab>
	</f7-page>
</template>

<script>
	export default {
		data(){
			return{
				incomes:'',

			}
		},
		created:function(){
			var $this = this;
			const app = $this.$f7;
			const router = $this.$f7router;


			const options ={
				method:'get',
				headers:{
					'Authorization':'Bearer '+window.localStorage.getItem('token')
				},
			};
			cordova.plugin.http.sendRequest('http://localhost:8000/api/incomes', options, function(response) {

				const data = JSON.parse(response.data)
				
				$this.incomes = data.data;
					
				
			}, function(response) {
				console.log(response.error)

			});
		},
		methods:{
			deleteIncome(income_id){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;
				// var expense_id = this.$f7route.params.expense_id;
				
				const options ={
					method:'delete',
					headers:{
						'Authorization':'Bearer '+window.localStorage.getItem('token')

					},
					serializer:'JSON',
				};
				cordova.plugin.http.sendRequest('http://localhost:8000/api/income/'+income_id, options, 
					function(response) {
						app.dialog.alert(`Delete Success`,'Success', ()=>{
							router.back()
						});
					},  function(response) {
						app.dialog.alert(`error`);
					});
			},
			loadMore(done) {
			var $this = this;
			const app = $this.$f7;
			const router = $this.$f7router;

			setTimeout(() => {
			const options ={
				method:'get',
				headers:{
					'Authorization':'Bearer '+window.localStorage.getItem('token')
				},
			};
			cordova.plugin.http.sendRequest('http://localhost:8000/api/incomes', options, function(response) {

				const data = JSON.parse(response.data)
				
				$this.incomes = data.data;
					
				
			}, function(response) {
				console.log(response.error)

			});
			
			done();
        	}, 1000);

			},
		
		}
	}
</script>