<template>
	<!-- class="bg" -->
	<f7-page class="bg">
		
		<f7-login-screen-title style="padding-top:60%;color:white;"> 
			<div class="img-container">
				<img src="static/savingsIcon.png" style="width:64px;height:64px;">
			</div>
			Smart Expense
		</f7-login-screen-title>
	<!-- FOR ANDROID -->
	<div style="padding-left:45%;padding-top:20%;"> 
		<div class="preloader color-white">
			<span class="preloader-inner">
				<span class="preloader-inner-gap"></span>
				<span class="preloader-inner-left">
					<span class="preloader-inner-half-circle"></span>
				</span>
				<span class="preloader-inner-right">
					<span class="preloader-inner-half-circle"></span>
				</span>
			</span>
		</div>
	</div>
	<!-- For IOS -->
	<div style="padding-left:47%;padding-top:20%;"> 
		<div class="preloader color-white"">
			<span class="preloader-inner">
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
				<span class="preloader-inner-line"></span>
			</span>
		</div>
	</div>

	</f7-page>
</div>
</template>

<style type="text/css" lang="scss" scoped>

.bg.page {
  background-color: #43CDF2;
}

.img-container {
        text-align: center;
}

</style>

<script>
	export default {
		data() {
			return {
				
			}
		},
		created: function(){
			const $this = this;
			const router = $this.$f7router;
			
			setTimeout(function(){
				router.navigate('/login')
			},3000);
			
		}

	};
</script>