<template>
	<f7-page no-toolbar no-navbar no-swipeback  class="bg">

		<div style="background-color:white;width:96%;height:65%;margin:auto;border-top-left-radius:25px;border-top-right-radius:25px;border-bottom-left-radius:25px;border-bottom-right-radius:25px;margin-top:30%;">
			<div class="img-container">
				<img src="static/savingsIcon.png" style="width:64px;height:64px;">
			</div>
			<span style="color:#43CDF2;font-size:20px;padding-left:30%;">Smart Expense</span>

			<f7-list>

				<f7-list-input
				label="E-mail"
				type="email"
				placeholder="Your e-mail" :value="email" @input="email = $event.target.value"
				clear-button required
				></f7-list-input>

				<f7-list-input
				label="Password"
				type="password" :value="password" @input="password = $event.target.value"
				placeholder="Your password"
				clear-button required
				></f7-list-input>

			</f7-list>

			<f7-list>
				<f7-button raised round @click="login();" style="width:35%;margin:auto;background-color:#43CDF2;color:white;opacity:0.7;">Login</f7-button>
				
				<span style="font-size:12px;padding-left:25%;">Don't have an account ?<span style="color:#43CDF2;padding-left:5px;" @click="register();"> Sign Up </span></span>
			</f7-list>

		</div>

		

		
	</f7-page>
</template>

<style type="text/css" lang="scss" scoped>
	
	.bg.page {
	  background-color: #43CDF2;
	}

	.img-container {
	        text-align: center;
	}

</style>

<script>
	export default {
		data() {
			return {
				email:'',
				password:'',
			}
		},
		created: function(){
				const $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;
			
				if(window.localStorage.getItem('token')){
					router.navigate('/home');
				}
				
			
		},
		methods: {
			register(){
				const $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

					router.navigate('/register');
			},
			login () {
				const $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;
				
				// if($this.email == '' || $this.password == ''){
				// 	app.dialog.alert(`Please fill in the field!`,'Error')
				// }

				if($this.email == ''){
					app.dialog.alert(`Please fill in the email!`,'Error')
				}
				else if($this.password == ''){
					app.dialog.alert(`Please fill in the password!`,'Error')
				}else if($this.email == '' || $this.password == ''){
					app.dialog.alert(`Please fill in the field!`,'Error')	
				}


				const options = {
					method: 'post',
					data: {
						email: $this.email,
						password: $this.password
					},
					serializer: 'JSON'
				};

				if($this.email && $this.password){
				cordova.plugin.http.sendRequest('http://localhost:8000/api/login', options, function(response) {
					const data = JSON.parse(response.data);
					console.log('data');
					console.log('token:',data.success.token);
					window.localStorage.setItem('token',data.success.token);
					app.dialog.alert(`You are now logged in!`,'Smart Expense', () => {
						// router.navigate('/home', {
						// 	reloadCurrent: true,
						// 	ignoreCache: true,
						// });
						router.navigate('/home');
					});
				}, function(response) {
					app.dialog.alert(`There something wrong`,'Login Failed')
					console.log(response.error)
				});
				}
				// console.log('212');
			}
		}
	};
</script>