<template>
	<f7-page no-toolbar no-navbar no-swipeback class="bg">

		<div style="background-color:white;width:96%;height:80%;margin:auto;border-top-left-radius:25px;border-top-right-radius:25px;border-bottom-left-radius:25px;border-bottom-right-radius:25px;margin-top:19%;">
			<div class="img-container">
				<img src="static/savingsIcon.png" style="width:64px;height:64px;">
			</div>
			<span style="color:#43CDF2;font-size:20px;padding-left:30%;">Smart Expense</span>

			<f7-list form>
				<f7-list-input
				label="Name"
				type="text"
				placeholder="Your name" :value="name" @input="name = $event.target.value"
				clear-button
				></f7-list-input>

				<f7-list-input
				label="E-mail"
				type="email"
				placeholder="Your e-mail" :value="email" @input="email = $event.target.value"
				clear-button
				></f7-list-input>

				<f7-list-input
				label="Password"
				type="password"
				placeholder="Your password" :value="password" @input="password = $event.target.value"
				clear-button
				></f7-list-input>

				<f7-list-input
				label="Confirm Password"
				type="password"
				placeholder="Re-enter same password" :value="cpassword" @input="cpassword = $event.target.value"
				clear-button
				></f7-list-input>

				<f7-list>
					<f7-button raised round @click="register();" style="width:35%;margin:auto;background-color:#43CDF2;color:white;opacity:0.7;">Register</f7-button>

					<span style="font-size:12px;padding-left:25%;">Already have an account ?<span style="color:#43CDF2;padding-left:5px;" @click="login();"> Log In </span></span>
				</f7-list>

			</f7-list>


		</div>

		
	</f7-page>
</template>

<style type="text/css" lang="scss" scoped>
	
	.bg.page {
	  background-color: #43CDF2;
	}

	.img-container {
	        text-align: center;
	}

</style>

<script>
	export default {
		data() {
			return {
				name:'',
				email:'',
				password:'',
				cpassword:'',
			}
		},
		created: function(){
			const $this = this;
			const router = $this.$f7router;
			
				// router.navigate('/home');
			
		},
		methods: {
			register(){
				const $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				// if($this.name =''){
				// 	app.dialog.alert(`Please fill in the name!`,'Error')
				// 	return
				// }
				// if($this.email == ''){
				// 	app.dialog.alert(`Please fill in the email!`,'Error')
				// 	return
				// }
				// if($this.password == ''){
				// 	app.dialog.alert(`Please fill in the password!`,'Error')
				// 	return
				// }
				// if($this.cpassword == ''){
				// 	app.dialog.alert(`Please fill in the confirm password`,'Error')
				// 	return	
				// }
				// if($this.password != $this.cpassword){
				// 	app.dialog.alert(`Password and Confirm Password Should be Same`,'Error')
				// 	return	
				// }
				if($this.email == '' || $this.password == '' || $this.name == '' || $this.c_password){
					app.dialog.alert(`Please fill in all the required field!`,'Error')
					return
				}

				const options = {
					method: 'post',
					data: {
						name: $this.name,
						email: $this.email,
						password: $this.password,
						c_password : $this.cpassword,
					},
					serializer: 'JSON'
				};

				cordova.plugin.http.sendRequest('http://localhost:8000/api/register', options, function(response) {
					const data = JSON.parse(response.data)
					app.dialog.alert(`Register Successfully!`,'Smart Expense', () => {
						router.navigate('/login');
					});
				}, function(response) {
					console.log(response.error)
				});
			},
			login(){
				const $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				router.navigate('/login');
			},
			
		}
	};
</script>